.center{
    padding: 10rem 0rem;
    background-image: url(/./IMG/EiffelTower1.jpg);
    background-size: cover;
    color: white;
}
.login-box{
    margin: 3rem auto;
    padding-top: 3rem;
    height: 800px;
    width: 600px;
    background-color: #1A1A1A;
}
h3{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 36px;
}
.content{
    width: 85%;
    height: 100%;
    margin: 0 auto;
    font-size: 20px;
}
.content input{
    outline: none;
    margin: 15px auto;
    width: 100%;
    height: 40px;
    border: 0px;
    border-bottom: grey solid 2px;
    background-color: #1A1A1A;
    font-size: 16px;
}
.content input[type=text] , .content input[type=password]{
    color: #F2F2F2; 
  }
/* ----------button login---------- */
.button{
    background-color: #BF1829;
    padding: 15px 0;
    border-radius: 10px;
    text-align: center;
    margin: 30px auto;
}
.button:hover{
    box-shadow:0 0 2px 2px #F2F2F2;
    transition: 0.1s;
}
/* -----------more info-------------- */
.moreinfo a{
    text-decoration: none;
    color: #6C6B6B;
}
.moreinfo a:hover{
    border-bottom: #6C6B6B solid 1px;
    transition: 0.2s;
}
